<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.fa7.pomodoro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"

        >

        <activity android:name=".activity.MainActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TarefaActivity"
            android:label="@string/tarefa_activity"
             android:screenOrientation="portrait"
            ></activity>



        <service

            android:name=".service.BoundService"

            android:enabled="true"
            android:exported="true"
            />

        <receiver android:name=".service.MyBroadcastReceiver">

            <intent-filter>

                <action android:name="TAREFA_ALARM" />

            </intent-filter>

        </receiver>


    </application>


</manifest>